

<html>
    <head>
        <title>Data Posts Table</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div id="root"></div>
        <script>
            const URL = 'http://localhost:3000/api/posts';

            fetch(URL)
            .then(res => res.json())
            .then(data => {
                let output =''
                data.forEach(post => {
                    output += 
                    `<tr>
                        <td>${post.id}</td>
                        <td>${post.title}</td>
                        <td>${post.author}</td>
                    </tr>`
            });

            document.getElementById('root').innerHTML = 
            `<table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    ${output}
                </tbody>
            </table>`
         });
        </script>
    </body>
</html>